@import url(http://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);

body{
	margin: 0;
	padding: 0;
	background: #fff;
	font-family: Exo;
    font-size: 0.9em;
    margin-bottom: 3%;
}
.body{
	position: absolute;
	top: -20px;
	left: -20px;
	right: -40px;
	bottom: -40px;
	width: auto;
	height: 20%;
	background-image: url(../images/signup_bg.jpg);
	background-size: cover;
	-webkit-filter: blur(2px);
	z-index: 0;
}
@media (min-width: 700px){
	.header{
		top: calc(50% - 300px);
	}
}
@media (max-width: 700px){
	.header{
		top: calc(50% - 270px);
	}
	.header div{
		margin-left: 25px;
	}
	.header h3{
		font-size: 1em;
		margin-left: 30px;
	}
	.header h3 span{
		margin-top: 3px;
		margin-right: 10px;
    	font-size: 0.8em;
	}
}
.header{
	position: absolute;
    left: calc(50% - 160px);
    font-family: 'Exo', sans-serif;
    z-index: 2;
	color: #fff;
}
.header div{
	float: left;
	color: #fff;
	font-size: 1.7em;
	font-weight: 200;
}
.header div span{
	color: yellow !important;
}

.header h3 a:hover{
    cursor: pointer;
    opacity: 0.9;
}
h3 a{
    text-decoration: none;
    color: #fff;
}
h3 span{
    float: right;
    font-size: 0.8em;
}