@import url(https://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);

@media (max-width: 700px){
	.main div{
        padding-bottom: 10px;
    }
    .answer_card div{
        margin-top: 20px;
    }
}
@media (max-width: 400px){
    .header div{
        font-size: 0.5em;
    }
}
.h3{
    margin-left: 13%;
    padding: 1%;
    text-decoration: underline;
    cursor: pointer;
    transition: 0.5s ease;
}
.h3:hover{
    color: #FF4500;
    opacity: 0.9;
    font-size: 1.2em;
    text-decoration: none;
    transition: 0.5s ease;
}
#most_answers{
    display: none;
}
#search{
    text-decoration: none;
    color: black;
}
.question_card, #pages_footer{
    height: auto;
    padding: 1.5%;
    width: 70%;
    margin-top: 20px;
    margin-left: 13%;
}
#pages_footer{
    margin-left: 17%;
    margin-top: 40px;
}
.question_card{
    box-shadow: 1px 1px 3px grey;
}
.pages:hover, #close:hover{
    background-color: lavender;
    cursor: pointer;
}
.active{
    color: 	#FF4500;
    background-color: beige;
    opacity: 0.9;
}
.question_card h2, .question_card h4, #title_h3{
    color:black;
    font-family: Exo;
    font-weight: 400;
    transition: 0.1s ease;
}

#h2Header:hover{
    cursor: pointer;
    opacity: 0.9;
    transition: 0.1s ease;
    color: 	#FF4500;
}
#top_question{
    margin-top: 150px;
}
.material-icons, .votes, .add, .editIcon, .accepted{
    font-size: 30px;
    margin-left: 20px;
    padding: 10px;
}

.answer_card, .comment_card, .add_comment_card, .editProfile{
    box-shadow: 1px 1px 3px grey;
    padding: 1%;
    margin: 2%;
}
input[type=text], textarea{
    font-family: Exo;
    font-weight: 400;
    margin-left: 30px;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #777;
    width: 70%;
    margin-top: 10px;
}
input[type=button]{
    width: 50%;
}
input[type=button], button{
    height: 40px;
    padding: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    background: #222;
	border: 1px solid #222;
	cursor: pointer;
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 300;
    transition: 1s ease;
}
input[type=button]:hover{
    transition: 1s ease;
    opacity: 0.7;
}
button{
    font-weight: 700;
}
button:hover{
    font-weight: 700;
    color: red;
}
.answers, .add_comment_card, #postQuestion{
    display: none;
}
i:hover, .votes:hover, .add:hover, .editIcon:hover, .delete:hover {
    cursor: pointer;
    opacity: 0.7;
}
.hide_answers{
    padding: 10px;
    font-weight: 400;
    display: none;
    font-size: 1.5em;
}
.hide_answers:hover, .editIcon:hover{
    color: green;
    cursor: pointer;
}
#loginH3, .editForm, .delete, .editIcon, #prev_page{
    display: none;
}
.delete{
    color: red;
    font-size: 1.5em;
    margin-left: 10px;
    padding: 10px;

}
.pages{
    border: 1px solid gray;
    padding: 3%;
    margin-right: 2%;
}
.accepted{
    color: green;
    display: none;
}
.emptyDiv, .empty{
    text-align: center;
    font-size: 2em;
    color: #333;
}
.emptyDiv, #first_empty{
    padding-top: 10%;
        
}
.emptyDiv{
    height: 25%;
}
#search_title{
    width: 50%;
}
#search_button{
    width: 100px;
    transition: 0.5s ease;
}
#searchMain{
    padding-top: 50px;
}
#close{
    float: right;
    text-align: center;
    width: 70px;
    height: auto;
    border-radius: 5%;
    color: darkorange;
    border: 1px solid darkorange;
    margin-right: 50px;
}
.links{
    font-size: 1.1em;
    padding: 1%;
    padding-left: 4%;
    transition: 0.2s ease;
    text-decoration: underline;
}
.links:hover{
    color: darkorange;
    opacity: 0.9;
    transition: 0.1s ease;
    text-decoration: none;
    cursor: pointer;
}

#closestMatch{
    padding-left: 2%;
}
