@media (max-width: 1300px){
    .stats_card{
        padding-bottom: 3%;
    }
}
@media (max-width: 1000px){
    div#first_question, div#first_answer{
        margin-top: 12%;
    } 
}  
@media (max-width: 850px){
    .stats_card{
        padding-bottom: 6%;
    }
}
@media (min-width:650px){
    .question_card{
        width: 70%;
    }
    #main{
        margin-left: 5%
    }
}
@media (max-width: 650px){
    .stats_card{
        padding-bottom: 10%;
    } 
}  
@media (max-width: 540px){
    div#postQuestion{
        width: 100%;
    }  
    .stats_card{
        padding-bottom: 20%;
        margin-left: 20%;
    } 
    #userQuestions, #userAnswers{
        margin-left: 3%;
    }
    .question_card{
        margin-bottom: 5%;
    }
}  
@media (max-width:500px){
    #first_question, #first_answer{
        margin-top: 10%;
    }
}
@media (min-width:541px){
    #first_question, #first_answer{
        margin-top: 10%;
    }
}
@media (min-width:300px){
    .Q_card{ 
        float: left;        
        width: 40%;
    }
}
@media (max-width:300px){
    .Q_card{ 
        float: left;        
        width: 40%;
    }
}
@media (max-width: 350px){
    div.profile_name{
        padding-left: 15%;
    } 
    .stats_card{
        padding-bottom: 60%;
        padding-left: 5%;
        } 
    .Q_card{
        margin-bottom: 5%;
        width: 100%;
    }
    #first_question, #first_answer{
        margin-top: 10%;
    }
    #userQuestions, #userAnswers{
        margin-left: 18%;
    }
    .question_card{
        width: 100%;
        padding: 1%;
    }
}
#main{
    margin-bottom: 3%;
}
#main{
    margin-top: 130px;
    width: 90%;
    position: absolute;
}
#changePassword, .answers, #userAnswers{
    display: none;
}
.profile{
    width: 70%;
    height: auto;
    margin-left: 25%;
    padding-left: 5%;
}

.profile_name h3:hover{
    cursor: pointer;
    opacity: 0.8;
}
.stats_card{
    width: 70%;
    height: auto;
    margin-left: 17%;
    margin-top: 10px;
}

.Q_card{
    box-shadow: 1px 1px 3px grey;
    text-align: center;
    margin-left: 20px;
    transition: .5s ease;
}
.Q_card p{
    font-size: 1em;
    font-weight: bolder
}

.Q_card:hover{
    box-shadow: 2px 3px 4px grey;
    cursor: pointer;
    transition: .5s ease;
}
.Q_left{
    margin-left: 10%;
}
#postQuestion{
    margin-top: 30px;
    padding-top: 4%;
    width: 60%;
    padding-left: 5%;
}
#profileDetails{
        text-align: justify;
        margin-left: 15%;
        padding-bottom: 5px;
        padding-top: 5px;
        padding-left: 6%;
    }
input[type=text], textarea{
    font-family: Exo;
    font-weight: 400;
    margin-left: 30px;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #777;
    width: 70%;
    margin-top: 10px;
}
input[type=button]{
    width: 45%;
    margin-left: 30px;
}
input[type=button], button{
    padding: 10px;
    height: 40px;
    margin-bottom: 10px;
    background: #222;
	border: 1px solid #222;
	cursor: pointer;
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 0.9em;
	font-weight: 400;
    transition: 1s ease;
}
#postQuestion button:hover{
    color:  red;
    transition: .3s ease;
    
}
#postQuestion{
    display: none;
}

input[type=button]:hover, button:hover{
    transition: .5s ease;
	opacity: 0.8;
}
input[type=button]:active{
	opacity: 0.6;
}

input[type=text]:focus{
    border: 1px solid rgba(255,255,255,0.9);
    transition: 1s ease;
}

.question_card{
    margin-top: 1%;
    box-shadow: 1px 1px 3px grey;
    height: auto;
    padding: 1.5%;
    margin-left: 13%;
}
.question_card h2, .question_card h4{
    color:black;
    font-family: Exo;
    font-weight: 400;
}
.question_card h2:hover, .question_card h4:hover, i{
    cursor: pointer;
}
.material-icons, .votes, .add, .accept, .editIcon{
    font-size: 30px;
    margin-left: 20px;
    padding: 10px;
    transition: 0.1s ease;
}
.material-icons:hover, .votes:hover, .add:hover, .accept:hover, .delete:hover, .editIcon:hover{
    cursor: pointer;
    opacity: 0.8;
    transition: 0.1s ease;
}
.answer_card, user_answer_card, .add_comment_card, #postQuestion{
    box-shadow: 1px 1px 3px grey;
    padding: 1%;
    margin: 2%;
}
.accepted_answer{
 color: green;
}
.hide_answers{
    padding: 10px;
    font-weight: 400;
    font-size: 1.5em;
    margin-left: 10px;
    display: none;
}
.hide_answers:hover{
    color: green;
    cursor: pointer;
}
.delete{
    color: red;
    font-size: 1.5em;
    margin-left: 10px;
    padding: 10px;
}
.editForm{
    display: none;
}