@media (min-width: 1300px){
	div.profile_name{
        width: 40%;
        margin-top: calc(0% - 200px);
        margin-left: calc(50% - 120px);
        padding-bottom: 50px;
        border-left: 1px solid #999;
        padding-top: 40px;
        padding-left: 20px;
    }
    .profile_image{
        margin-left: 70px;
    }
}
@media (max-width: 1300px){
    div.profile_name{
        text-align: justify;
        margin-left: 15%;
        padding-bottom: 5px;
        padding-top: 5px;
        padding-left: 6%;
    }
    #prof_image{
        margin-left: 12%;
    }
    .stats_card{
        padding-bottom: 3%;
    }
}
@media (max-width: 1000px){
    #prof_image{
        margin-left: 9%;
    }  
}  
@media (max-width: 850px){
    .stats_card{
        padding-bottom: 6%;
    }
    .date{
        display: none;
    }
    .date_small{
        display: block;
        float: right;
        font-size: 0.7em;
        font-weight: 400;
    }
}
@media (min-width:650px){
    #editProfile input[type=text], #editProfile input[type=password], #editProfile input[type=email]{
        width: 300px;
    }
    .question_card{
        width: 70%;
    }
    #main{
        margin-left: 5%
    }
}
@media (max-width: 650px){
    #prof_image{
        margin-left: 4%;
    } 
    .stats_card{
        padding-bottom: 10%;
    } 
    #editProfile form, #editProfile button{
        margin-left: -10%;
    }
    #editProfile input[type=text], #editProfile input[type=password], #editProfile input[type=email]{
        width: 70%;
    }

}  
@media (max-width: 540px){
    #prof_image{
        margin-left: -2%;
    }   
    .stats_card{
        padding-bottom: 20%;
        margin-left: 20%;
    } 
    #userQuestions, #userAnswers{
        margin-left: 3%;
    }
    .question_card{
        margin-bottom: 5%;
    }
}  
@media (max-width:500px){
    #first_question, #first_answer{
        margin-top: 10%;
    }
}
@media (min-width:541px){
    #first_question, #first_answer{
        margin-top: 10%;
    }
}
@media (min-width:300px){
    .Q_card{ 
        float: left;        
        width: 40%;
    }
}
@media (max-width:300px){
    .Q_card{ 
        float: left;        
        width: 40%;
    }
}
@media (max-width: 350px){
    div.profile_name{
        padding-left: 15%;
    }
    #prof_image{
        margin-left: -2%;
    }   
    .stats_card{
        padding-bottom: 60%;
        padding-left: 5%;
        } 
    .Q_card{
        margin-bottom: 5%;
        width: 100%;
    }
    #first_question, #first_answer{
        margin-top: 10%;
    }
    #userQuestions, #userAnswers{
        margin-left: 18%;
    }
    .question_card{
        width: 100%;
        padding: 1%;
    }
}  
#prof_image{
    width: auto;
}
#main{
    margin-bottom: 3%;
}
#main, #editProfile{
    margin-top: 130px;
    width: 90%;
    position: absolute;
}
#editProfile, #changePassword, .answers, #userAnswers, #userQuestions{
    display: none;
}
#editProfile{
    margin-left: 35%
}
.profile{
    width: 70%;
    height: auto;
    margin-left: 25%;
    padding-left: 5%;
}
.profile_image{
    box-shadow: 2px 2px 2px gray;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    overflow: hidden;
}
.profile_image img{
    height: 200px;
    width: 300px;
}
.profile_image img:hover{
    opacity: 0.8;
    transition: 0.3s ease;
}

.profile_name h3:hover{
    cursor: pointer;
    opacity: 0.8;
}
.stats_card{
    width: 70%;
    height: auto;
    margin-left: 17%;
    margin-top: 10px;
}

.Q_card{
    box-shadow: 1px 1px 3px grey;
    text-align: center;
    margin-left: 20px;
    transition: .5s ease;
}
.Q_card p{
    font-size: 1em;
    font-weight: bolder
}

.Q_card:hover{
    box-shadow: 2px 3px 4px grey;
    cursor: pointer;
    transition: .5s ease;
}
.Q_left{
    margin-left: 10%;
}

#postQuestion input[type=text], textarea, .question_card input[type=text] {
    font-family: Exo;
    font-weight: 400;
    margin-left: 30px;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #777;
    width: 70%;
    margin-top: 10px;
}
#postQuestion input[type=button], .question_card input[type=button]{
    width: 25%;
    height: 30px;
    margin-left: 40px;
    margin-bottom: 10px;
    background: #222;
	border: 1px solid #222;
	cursor: pointer;
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 0.8em;
	font-weight: 400;
    transition: 1s ease;
}
#postQuestion{
    display: none;
}
#editProfile input[type=text], #editProfile input[type=password], #editProfile input[type=email]{
	height: 40px;
	background: transparent;
	border: 1px solid #555;
	border-radius: 2px;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
}

#editProfile input[type=button], button{
	width: 200px;
	height: 45px;
	background: #222;
	border: 1px solid #222;
	cursor: pointer;
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
    margin-top: 10px;
    transition: 1s ease;
}
input[type=button]:hover, button:hover{
    transition: 1s ease;
	opacity: 0.8;
}
input[type=button]:active{
	opacity: 0.6;
}

input[type=text]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

input[type=password]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

input[type=button]:focus{
	outline: none;
}
.question_card{
    margin-top: 1%;
    box-shadow: 1px 1px 3px grey;
    height: auto;
    padding: 1.5%;
    margin-left: 13%;
}
.question_card h2, .question_card h4{
    color:black;
    font-family: Exo;
    font-weight: 400;
}
.question_card h2:hover, .question_card h4:hover, i{
    cursor: pointer;
}
.material-icons, .votes, .add, .accept{
    font-size: 30px;
    margin-left: 20px;
    padding: 10px;
}
.material-icons:hover, .votes:hover, .add:hover, .accept:hover{
    cursor: pointer;
}
.answer_card, user_answer_card, .comment_card, .add_comment_card{
    box-shadow: 1px 1px 3px grey;
    padding: 1%;
    margin: 2%;
}
.date{
    float: right;
}
.accepted_answer{
 color: green;
}
